
.Tabular {
    color: rgb(0,0,0);
    background-color: rgb(211,211,211);
    margin-top: 22px;
}

.dark .Tabular {
    color: rgb(255,255,255);
    background-color: rgb(40,44,52);
}



/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: rgb(238,238,238); 
}

th { 
    background: rgb(51,51,51); 
    color: rgb(255,255,255); 
    font-weight: 900; 
}

td, th { 
    padding: 6px; 
    border: 1px solid rgb(204,204,204); 
    text-align: left; 
}

tr:nth-of-type(odd) td{ 
    border: 1px solid rgb(204,204,204);
}



/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid rgb(204, 204, 204); }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}


    
	/*
	Label the data
	*/
	td:nth-of-type(1):before {
        content: "Ticker (Name)";
    }
	
    td:nth-of-type(2):before {
        content: "Close";
    }
	
    td:nth-of-type(3):before {
        content: "Dividend";
    }
}

